<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Created</title>
  </head>
  <body style="font-family: Arial, sans-serif;">
    <div style="max-width: 600px;
        margin: auto;
        padding: 24px;
        background-color: #f5f5f5;
        border-radius: 8px;">
      <h1 style="color: #333;">
        Dates have changed
      </h1>
      <p style="color: #333;">
        Hallo <%= name %>,<br />
        dates for the event <strong><%= eventTitle %></strong> in which you are participating have changed
      </p>
      <p style="color: #333;">
        <strong>These is/are the current date/s for this event:</strong>
      </p>
      <div>
        <% eventDates.forEach(function(dateObj) { %>
          <p style="color: #333;">
            <strong>Date:</strong> <span style="color: #333;"><%= dateObj.date.toDateString() %></span><br />
            <strong>Start:</strong> <span style="color: #333;"><%= dateObj.startTime.replace(':', '.') %></span><br />
            <strong>End:</strong> <span style="color: #333;"><%= dateObj.endTime.replace(':', '.') %></span>
          </p>
        <% }) %>
      </div>
    </div>
  </body>
</html>