<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Created</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      .container {
        max-width: 600px;
        margin: auto;
        padding: 24px;
        background-color: #f5f5f5;
        border-radius: 8px;
      }

      h1 {
        color: #333;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Dates have changed</h1>
      <p>
        Hallo <%= name %>,<br />
        dates for the event <strong><%= eventTitle %></strong> in which you are participating have
        changed<br />
        These is the current date for this event:
      </p>
      <div>
        <% eventDates.forEach(function(dateObj) { %>
          <p>
            <strong>Date:</strong> <%= dateObj.date %><br />
            <strong>Start:</strong> <%= dateObj.startTime %><br />
            <strong>End:</strong> <%= dateObj.endTime %>
          </p>
        <% }) %>
      </div>
    </div>
  </body>
</html>
